.container-footer{
    display: flex;
    justify-content: space-between;
}
.container-fluid ul {
    padding: 0 !important;
}
.faq-items{
    font-size: 14px;
    line-height: 20px;
    
}
.container-footer li{
    margin-bottom: 16px;
}
.list, .list a{
    list-style: none;
    text-decoration: none;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 20px
}
.items-icon{
    display: flex;
    justify-content: space-around;
}
.items-icon li{
    padding: 5PX;
    margin-right: 16px;
}
@media screen and (max-width: 780px) {
    .container-footer {
        display: block;
    }
    
}